@import "tailwindcss";

/* =========================
   COLOR TOKENS (Tailwind)
========================= */

@theme {
  --color-background-900: #0D0D0C;

  --color-foreground-50: #ffffff;
  --color-foreground-300: #dcdcdc;
  --color-foreground-500: #999999;

  --color-primary-600: #00d57b;
  --color-primary-300: #30f3af;
  --color-primary-100: #bbfadd;

  --color-surface-900: #0F100E;
  --color-surface-800: #373934;
}

/* =========================
   TYPOGRAPHY TOKENS (Global CSS)
========================= */

:root {
  --font-h1: 72px;
  --font-h2: 40px;
  --font-h2-bold: 40px;
  --font-h3: 32px;
  --font-h3-semibold: 32px;
  --font-h4: 24px;
  --font-h5: 20px;
  --font-h5-regular: 20px;
  --font-h6: 17px;
  --font-h6-semibold: 17px;

  --font-subtitle-1: 20px;
  --font-subtitle-2: 17px;

  --font-body-1: 20px;
  --font-body-2: 17px;
  --font-body-3: 15px;

  --font-button: 20px;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}